#color_sensor {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 230px;
  left: 10px;
  background-color: darkgray;
  border-radius: 4px;
}

.color_sensor_circles {
  border-radius: 50%;
  position: absolute;
}

#color_sensor_circle_red_big,
#color_sensor_circle_red_small {
  background-color: red;
}

#color_sensor_circle_black_big,
#color_sensor_circle_black_small {
  background-color: black;
}

#color_sensor_circle_red_big {
  width: 50px;
  height: 50px;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -28%);
}

#color_sensor_circle_red_small {
  width: 30px;
  height: 30px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#color_sensor_circle_black_big {
  width: 42px;
  height: 42px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#color_sensor_circle_black_small {
  width: 24px;
  height: 24px;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -68%);
}

#color_sensor_circle_blue {
  background-color: blue;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#color_sensor_circle_white_big,
#color_sensor_circle_white_small {
  background-color: white;
}

#color_sensor_circle_white_big{
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#color_sensor_circle_white_small{
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}