.object {
  position: absolute;
}

.circle {
  border-radius: 50%;
}

#large_motor {
  height: 320px;
  width: 160px;
  top: 470px;
  left: 10px;
}

#large_motor_base {
  height: 120px;
  width: 60px;
  top: 60px;
  left: 80px;
  border-radius: 3%;
  background-color: darkgray;
  clip-path: polygon(30% 0%, 100% 0%, 100% 80%, 70% 100%, 0% 100%, 0% 20%);
}

#large_motor_base2_wrapper {
  top: 160px;
  left: 80px;
  filter: drop-shadow(0px 0px 2px black);
}

#large_motor_base2 {
  height: 140px;
  width: 40px;
  background-color: darkgray;
  clip-path: polygon(20% 0%, 80% 0%, 100% 5%, 100% 100%, 0% 100%, 0% 5%);
}