body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ev3 {
    width: 382px;
    height: 586px;
    background-color: transparent;
    border: 1px solid gray;
    position: relative;
}

#base_1{
    width: 326px;
    height: 578px;
    background-color: whitesmoke;
    border: 1px solid gray;
    position:absolute;
    border-radius: 3%;
    top: 2px;
    left: 26px;
    z-index: 1;
}

#line_screen_to_buttons{
    width: 11px;
    height: 86px;
    background-color: black;
    position:absolute;
    z-index: 1;
    top: 217px;
    left: 50%;
    transform: translateX(-50%);
    
}

#back_buttons {
    width: 224px;
    height: 162px;
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#vertical_buttons{
    width: 55px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#center_button{
    size: 42px;
    background-color: yellow;
    position: absolute;
    top:50%;
}

#horizontal_buttons{
    width: 100%;
    height: 55px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}

#left_button , #right_button{
    width: 56px;
    height: 42px;
    background-color: darkgray;
    position: absolute;
}

#left_button{
    border-radius: 30px 0px 0px 30px;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}

#right_button{
    border-radius: 0px 30px 30px 0px;
    top: 50%;
    left: 161px;
    transform: translateY(-50%);
}

#triangle_leftTop{
    border-left: 46px solid transparent;
    border-bottom: 56px solid black;
    position: absolute;
    left: 39px;
}

#triangle_leftBottom{
    border-left: 46px solid transparent;
    border-top: 56px solid black;
    position: absolute;
    left: 39px;
    top: 106px;
}

#triangle_rightTop{
    border-right: 46px solid transparent;
    border-bottom: 56px solid black;
    position: absolute;
    left: 139px;
}

#triangle_rightBottom{
    border-right: 46px solid transparent;
    border-top: 56px solid black;
    position: absolute;
    left: 139px;
    top: 106px;
}

#line_remover{
    width: 326px;
    height: 560px;
    background-color: whitesmoke;
    position:absolute;
    border-radius: 3%;
    top: 3px;
    left: 27px;
    z-index: 3;
}

#screen_box{
    width: 326px;
    height: 280px;
    background-color: gray;
    position: absolute;
    border-radius: 3%;
    top: 0px;
}

#back_screen{
    width: 274px;
    height: 172px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 25px;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen{
    width: 230px;
    height: 146px;
    background-color: lightgreen;
    opacity: 60%;
    position: absolute;
    border-radius: 2%;
}

#base_2{
    width: 372px;
    height: 364px;
    background-color: whitesmoke;
    border: 1px solid gray;
    position:absolute;
    border-radius: 3%;
    top: 100px;
    left: 3px;
    z-index: 2;
}